.logo-esprit {
  width: 120px;
  animation: zoom-in 1.2s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes zoom-in {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
